.reveal h1
.reveal h2
.reveal h3
.reveal h4
.reveal h5
.reveal h6 {
    text-align: center;
}

.small {
    font-size: 0.8em;
}

.tiny {
    font-size: 0.7em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
